.maincontainer
{
    display: flex;
    align-items: center;
    border:1px solid;
    padding: 10px;
}
img
{
    width:100px;
    margin-left: 820px;
    margin-top:  0px;
    border-radius: 50px;
}
.details
{
    padding-top: px;
}