body {
    background-color: white; 
    color: black;
    transition: 0.3s ease;
}

body.dark-theme {
    background-color: #282c34;
    color: #f2f2f2;
}

body.dark-theme .container {
    border: 2px solid #5C6773;
}


.main-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}